@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    color: coral;
    max-width: 100vw;
}

header{
    font-size: 50px;
    color:darkorange;
    text-align:center;
    background-image: url("edmund-fitzgerald-1.jpg");
}

body {
    background-color:black;
}

footer {
    padding-top: 50px;
}

ul {
    display:inline-flex;
    list-style-type: none;
}

li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 150px;    
}


#career-heading{
    font-size: 40px;
}

#career-section {
    font-size: 25px;
    color:darkorange;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

#sinking-heading{
    font-size: 40px;
}

#sinking-section {
    padding-top: 10px;
    font-size: 25px;  
    color: darkorange;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
}

#search-heading{
    font-size: 40px;
}

#search-section {
  font-size: 25px;
  padding-top: 50px;
  color: darkorange;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
}


#hero-image{
   padding: 0;
   align-items: center;
}

#boat-launch-img{
    padding-bottom: 50px;
    width: 50vw;
    height: auto;
    float: left;
}

#container {
    position: relative;
    text-align: justify;
}
#video-header {
    color:rgb(199, 62, 80);
    padding-bottom: 25px;
    font-size: 25px;
}

#video-playback {
    height: 750px;
    width: 1000px;
    max-height: 40vh;
    max-width: 60vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.fa-brands{
    font-size: 40px;
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 50%;
}

.fa-instagram{
    font-size: 40px;
    width: 50px;
    height: 50px;
}

@media only screen and (max-width:480px){
    *{
        width: 100vw;
        font-size: 15px;
        padding: 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
        font-family: Oswald, sans-serif;
        color: coral;
        max-width: 100vw;
    }
}

@media only screen and (max-width:768px){
    *{
        width: 100vw;
        font-size: 18px;
        padding: 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
        font-family: Oswald, sans-serif;
        color: coral;
        max-width: 100vw;
    }

    @media only screen and (max-width:1280px){
        *{
            width: 100vw;
            font-size: 20px;
            padding: 0;
            margin: 0;
            text-align: center;
            text-decoration: none;
            font-family: Oswald, sans-serif;
            color: coral;
            max-width: 100vw;
        }
    }
           